<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="APIKey" value="38c62b8531c6fc2a1d5b340341ee1c50" />
    <add key="ApplicationId" value="1422ef4a" />
  </appSettings>
</configuration>